#css_testing_1 {
    display: inline-block;
    background-color: rgb(6, 161, 114);
    border: 3px solid rgb(255, 0, 79);
    border-radius: 10px;
    padding: 5px;
}
body {
    cursor: wait;
}

.shaking-text {
    display: inline-block;
    animation: shake 0.5s infinite;
}
.shaking-text span {
    display: inline-block;
    animation: shake 0.5s infinite;
}

.spins {
    display: inline-block;
    animation: spin 0.25s linear infinite;
    transform-origin: center;
}

@keyframes shake {
    0% {transform: translate(0, 0);}
    25% {transform: translate(-1px, -1px);}
    50% {transform: translate(1px, 1px);}
    75% {transform: translate(-1px, 1px);}
    100% {transform: translate(1px, -1px);}
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}