:root {
    --primary-color: rgb(0, 0, 0);

    --brightest-secondary-color: rgb(70, 255, 213);
    --secondary-color: rgb(9, 230, 163);
    --dark-secondary-color: rgb(8, 207, 147);
    --darker-secondary-color: rgb(6, 161, 114);
    --darkest-secondary-color: rgb(4, 115, 81);

    --brighter-tertiary-color: rgb(255, 153, 178);
    --bright-tertiary-color: rgb(255, 102, 130);
    --tertiary-color: rgb(255, 0, 79);
}

html{
    border: 100px solid transparent;
    margin: 0px;
    border-image: url("./extra files/border.png") 1650 round;
    scrollbar-color: var(--tertiary-color) var(--primary-color);
    scrollbar-width: thin;
}

body{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin: -70px;
}
hr{
    height: 1%;
    border-color: var(--tertiary-color);
}
audio{
    border: 3px solid var(--tertiary-color);
    border-radius: 100px;
    width: 20%;
}
img{
    border: 3px solid var(--tertiary-color);
    border-radius: 10px;
}

button {
    background-color: var(--dark-secondary-color);
    color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: var(--secondary-color);
    border-color: var(--bright-tertiary-color);
}
button:active {
    border-color: var(--brighter-tertiary-color);
}

:focus-visible {
    outline: 2px solid var(--brighter-quaternary-color);
}

a {
    color: var(--tertiary-color);
}
a:hover{
    color: var(--bright-tertiary-color);
}
a:active{
    color: var(--brighter-tertiary-color);
}

a.button{
    display:inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    text-decoration: none;
    border-radius: 8px;
    border:3px solid var(--tertiary-color);
}
a.button:hover{
    border-color: var(--bright-tertiary-color);
}
a.button:active{
    border-color: var(--brighter-tertiary-color);
}

.tertiary-text-gradient {
    background-image: linear-gradient(to right,
    var(--tertiary-color),
    var(--bright-tertiary-color),
    var(--brighter-tertiary-color),
    var(--bright-tertiary-color),
    var(--tertiary-color));
    color: transparent;
    background-size: 200% auto;
    background-clip: text;
    animation: text-color-move 2s linear infinite;
}

@keyframes text-color-move {
    to {
        background-position: 200% center;
    }
}